* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent; 
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 0.4em;
    border-radius: 25px;
    background-color: #2e3440;
    color: #eceff4;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #eceff4;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-radius: 25px;	
    background-color: #2e3440;
}

#battery {
    border-radius: 25px;	
    background-color: #2e3440;
    color: #eceff4;
}

#battery.charging, #battery.plugged {
    color: #eceff4;
    border-radius: 25px;
    background-color: #2e3440;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background-color: #2e3440;
    border-radius: 25px;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #eceff4;
}

#cpu {
    border-radius: 25px;	
    background-color: #2e3440;
    color: #eceff4;
}

#memory {
    border-radius: 25px;	
    background-color: #2e3440;
}

#wireplumber {
    border-radius: 25px;	
    background-color: #2e3440;
    color: #eceff4;
}

#wireplumber.muted {
    border-radius: 25px;	
    background-color: #2e3440;
}

#temperature {
    background-color: #2e3440;
    border-radius: 25px;
}

#temperature.critical {
    background-color: #2e3440;
    border-radius: 25px;
}

#tray {
    background-color: #2e3440;
    border-radius: 25px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #2e3440;
    border-radius: 25px;
}


#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #eceff4;
}

#privacy-item.screenshare {
    border-radius: 25px;	
    background-color: #2e3440;
}

#privacy-item.audio-in {
    border-radius: 25px;	
    background-color: #2e3440;
}

#privacy-item.audio-out {
    border-radius: 25px;	
    background-color: #2e3440;
}
